{% import 'macros.html' as macro %}

<!-- Content block -->
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h1 style="text-align:center;margin-top:50px;font-family: 'Great Vibes', cursive;border-bottom:2px solid rgb(7, 7, 7)">
                Categories</h1>
            <br>
            <ul>
                <a style="font-size:24px;text-transform:uppercase;text-decoration:none;color:black;font-family: 'Times New Roman', Times, serif"
                    data-toggle="tab" href="#Health"><span style=" content: '\2713';">&#10003;</span> HEALTH</a>
            </ul>

            <ul>
                <a style="font-size:24px;text-transform:uppercase;text-decoration:none;color:black;font-family: 'Times New Roman', Times, serif"
                    data-toggle="tab" href="#Diet"><span style=" content: '\2713';">&#10003;</span> DIET</a>
            </ul>

            <ul>
                <a style="font-size:24px;text-transform:uppercase;text-decoration:none;color:black;font-family: 'Times New Roman', Times, serif"
                    data-toggle="tab" href="#Exercise"><span style=" content: '\2713';">&#10003;</span>
                    EXERCISE</a>
            </ul>

        </div>

        <div class="col-sm-3">

        </div>
        <div class=" tab-content">
            <div id="Health" class="container tab-pane active" ><br>
                {{ macro.display(Health) }}

            </div>
            <div id="Diet" class="container tab-pane fade"><br>
                {{ macro.display(Diet) }}
            </div>
            <div id="Exercise" class="container tab-pane fade" ><br>
                {{ macro.display(Exercise)}}
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
