{% macro display(category_list) %}
<div class="row">
    {% if category_list %}
    {% for category in category_list %}
    <div class="col-md-6" style="box-shadow: 2px 4px 12px 2px rgb(148, 147, 147); margin: 1rem; padding: 0; border-radius: 10px; margin-bottom: 20px;">

        <div class="text-center">
            <p>Title:{{category.title}}</p>
            <p>Category:{{category.category}}</p>

            <blockquote>
                <h2{{category.description}}</h2>
                <footer class="blockquote-footer"> Posted by {{category.user.username}}</footer>
            </blockquote>

            <a href="{{url_for('main.new_comment',pitch_id = category.id)}}" class="btn btn-info"> Add a comment</a>

            <a href="{{url_for('main.upvote',pitch_id = category.id)}}" class="btn btn-success btn-sm"><i></i>Upvote
                <span>{{category.upvotes.count()}}</span></a>
            <a href="{{url_for('main.downvote',pitch_id = category.id)}}" class="btn btn-danger btn-sm"><i class="far fa-thumbs-up"></i>Downvote
                <span>{{category.downvotes.count()}}</span></a>

        </div>

    </div>
    {% endfor %}
    {% else %}
    {% endif %}
</div>
{% endmacro %}

{% macro displayComment(comments) %}
<ul>

    {% if comments %}
    {% for comment in comments %}
    <div class="row text-center" style="margin-bottom:20px;">
        <a>
            <p style="color: rgb(10, 10, 10);">{{ comment.description }}</p>
        </a>
        <small> posted by {{comment.user.username}}</small>
    </div>
    {% endfor %}
    {% else %}

    <h3>This post does not does not have any comments yet !</h3>
    {%endif%}

</ul>

{% endmacro %}