<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a style="font-size:20px;color:rgb(255, 255, 255);" href="/">Home </a></li>
            </ul>
            <ul>
                <a style="text-align: center; color:rgb(255, 255, 255)"
                    class="navbar-brand" href="/pitch/new/"> Post
                    a Pitch </a>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a style="color:rgb(255, 255, 255);" href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
                <li><a style="color:rgb(255, 255, 255);" href="{{url_for('auth.logout')}}">Sign out</a></li>
                {% else %}
                <li><a style="color:rgb(255, 255, 255);" href="{{url_for('auth.login')}}">Sign in</a></li>
                {%endif%}
            </ul>
        </div>

    </div>

</div>
<ul>
    <h1 style="margin-top:50px; margin-bottom:50px;text-align:center; text-transform:capitalize;color:rgb(10, 10, 10);font-size:52px">welcome
        to pitches up app </h1>
</ul>